.page,
.movie-main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .mescroll {
        box-sizing: border-box;
    }

    .head {
        height: 420px;
        background: url("../../images/banner_bj.png") no-repeat top left/cover transparent;
        display: flex;
        flex-flow: column;
        padding-top: 50px;

        &.noImage {
            background: url("../../images/xytlogo.png") no-repeat center center;
            background-size: 160px;
        }

        .search-wrapper {
            position: sticky;
            top: 50px;
            z-index: 10;
            height: 64px;
            padding: 0 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            .choose-address {
                .select-area {
                    margin-right: 30px;

                    .txt {
                        font-size: 28px;
                        line-height: 32px;
                        height: 32px;
                        color: #fff;
                        position: relative;

                        &::after {
                            content: '';
                            border-width: 12px;
                            border-style: solid;
                            border-color: #fff transparent transparent transparent;
                            position: absolute;
                            bottom: 0;
                            margin-left: 8px;
                        }
                    }
                }
            }

            .search-btn {
                width: 30px;
                font-size: 32px;
                color: #ddd;
                padding: 10px;
            }

            .tabs {
                flex: 1;
                height: 64px;
                line-height: 64px;
                display: flex;
                justify-content: center;

                .tabs-item {

                    /deep/ .van-tabs__wrap {
                        height: 100%;

                        .van-tabs__nav {
                            background: transparent;
                            padding-bottom: 0;

                            .van-tabs__line {
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .swipe-wrap {
            height: 360px;
            display: flex;
            align-items: center;
            padding: 0 30px;

            .my-swipe {
                flex: 1;

                .van-swipe-item {
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .kefu {
        text-align: center;
        padding: 18px 0;
        color: #666;
        background-color: #f1f1f1;
        font-size: 30px;
        line-height: 38px;

        a {
            color: #666;
        }
    }

    .list-wrap {
        .item {
            padding: 20px;
            display: flex;
            height: 180px;

            .left {
                width: 130px;
                display: flex;

                img {
                    overflow: hidden;
                    object-fit: contain;
                }
            }

            .middle {
                flex: 1;
                padding: 0 20px;
                text-align: left;
                min-width: 0;
                display: flex;
                flex-flow: column;

                .title {
                    font-size: 34px;
                    color: #333;
                    padding-bottom: 20px;

                    .type {
                        color: #666;
                        font-size: 24px;
                        padding: 0 6px;
                    }
                }

                .rate {
                    color: #0c62ff;
                    font-size: 30px;
                    padding-bottom: 14px;

                    .title {
                        font-size: 26px;
                        color: #666;
                    }

                    .num {
                        padding: 0 6px;
                    }
                }

                .actors {
                    font-size: 26px;
                    line-height: 28px;
                    color: #666;
                    padding-bottom: 14px;
                }

                .launch-date {
                    font-size: 24px;
                    color: #666;
                }
            }

            .right {
                width: 100px;
                display: flex;
                align-items: center;

                .van-button--danger {
                    background: #cf2414;
                }
            }
        }
    }
}