 @charset 'UTF-8';
 @import './reset.scss';

 html,
 body {
     height: 100%;
     transition: all .2s;
 }

 * {
     touch-action: pan-y;
 }

 ::-webkit-scrollbar {
     display: none;
 }

 .line-ellipsis {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 .line2-ellipsis {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
 }

 input {
     caret-color: #ff9900;
 }

 .page {
     padding-bottom: 0;

     .header-wrap {
         padding-top: 2.875rem;
     }

     /* 头部样式 */
     .van-nav-bar {
         background: transparent;

         .van-icon {
             color: #fff;
         }

         .van-nav-bar__title {
             color: #fff;
         }

     }
 }

 //导航菜单高度
 .page-padBottom {
     padding-bottom: 34px;
 }



 .paddingBottom {
     padding-bottom: 0;
 }

 .isIPhoneX {
     .page {
         padding-bottom: 3.125rem;
     }

     .paddingBottom {
         padding-bottom: 3.125rem;
     }
 }