 @charset 'UTF-8';
 @import './reset.scss';


 html,
 body {
     height: 100%;
     transition: all .2s;
 }

 // * {
 //     touch-action: pan-y;
 // }

 ::-webkit-scrollbar {
     display: none;
 }

 input {
     caret-color: #ff9900;
 }


 .page {
     position: relative;
     padding-bottom: 0;

     .header-wrap {
         padding-top: 2.875rem;
     }

     /* 头部样式 */
     .van-nav-bar {
         background: #fff;

         &--fixed {
             top: 24px;
         }

         .van-icon {
             color: #ccc;
         }

         .van-nav-bar__title {
             color: #666;
             font-size: 18px;
         }

     }

     .content-wrap {
         position: fixed;
         top: 69.5px;
         bottom: 0;
         left: 0;
         right: 0;
         padding-bottom: 34px;
         box-sizing: border-box;
         overflow: auto;
     }
 }

 .paddingBottom {
     padding-bottom: 0;
 }

 .isIPhoneX {
     .page {
         padding-bottom: 3.125rem;
     }

     .paddingBottom {
         padding-bottom: 3.125rem;
     }
 }

 @supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
     body {
         padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
         padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
     }
 }